<!DOCTYPE html>
<html lang="ro">

<head>
 <title>Despre Noi</title>
 <meta name="description"
        content="Acest site este utilizat pentru a putea achizitiona mai usor harti despre Al Doilea Razboi Mondial pentru pasionati">
    <meta name="keywords"
        content="Magazin harti,harti, razboi, batalie, camp, mondial, Germania, Franta, URSS, UK,strategie militara">
    <%-include('../fragmente/head.ejs') %>

    </head>

<body>
    <header>
        <h1>
            <i class="fa-solid fa-map-location-dot"></i> Tehnici web
            <i class="fa-solid fa-star fa-spin"></i>
        </h1>
        <img src="sigla.png" alt="sigla" />
        <%-include('../fragmente/header.ejs') %>
    </header>
<main>
A doua pagina a site-ului
</main>




    <%-include('../fragemente/footer.ejs') %>
</body>

</html>